.footer{
  background: $secondary;
  overflow: hidden;
  padding: 12px 0 20px;
  border-radius: 16px 16px 0 0;
  position: relative;
  .container{
    position: relative;
    z-index: 2;
  }
  &:before, &:after{
    position: absolute;
    content: '';
    z-index: 1;
  }
  &:before{
    background: url('../images/svg/header-bg-1.svg') no-repeat;
    width: 429px;
    height: 90px;
    top: -5px;
    background-size: contain;
    right: -150px;
  }
  &:after{
    background: url('../images/svg/header-bg-2.svg') no-repeat;
    width: 449px;
    height: 145px;
    right: 0px;
    top: 0;
    background-size: cover;
  }
  &-logo{
    position: relative;
    display: inline-block;
    width: 49%;
    margin-bottom: 40px;
    &:before{
      position: absolute;
      content: '';
      left: -22px;
      top: -35px;
      width: 155px;
      height: 155px;
      background-image: url("../images/svg/ic-heart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      transform: scale(-1, 1);
    }
    a{
      position: relative;
      z-index: 2;
      width: 145px;
      height: 43px;
    }
    .icon{
      width: 100%;
      height: 100%;
      fill: $white;
    }
  }
  &-btn{
    width: 49%;
    display: inline-block;
    text-align: right;
    a{
      padding: 5px 10px;
    }
  }
  &-info{
    display: flex;
    align-items:  flex-end;
    color: $white;
    .info-text{
      width: 100%;
    }
    .footer-lang{
      width: 50%;
      display: none;
    }
  }

}






