.page-text{
  padding: 62px 0;
  .title-page{
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 28px;
    font-family: $Manrope;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $default-100;
    text-align: center;
  }
}
.block-text{
  padding: 25px 30px 30px;
  background: $light-100;
  border-radius: 16px;
  position: relative;
  font-family: $Manrope;
  color: $default-100;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    top: 70px;
    height: calc(100% - 140px);
    width: 4px;
    background: $secondary-100;
  }
  &:after{
    position: absolute;
    content: '';
    right: -30px;
    top: -50px;
    background: url("../images/svg/ic-heart.svg") no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;
    transform: scale(-1, 1);
  }
}
